<div class="col">
    <div class="card border-dark">
        <div class="card-body">
            <h5 class="card-title">{{ data.user.fullName }}</h5>
            <hr>

            <img src="{{ data.user.picture }}" alt="Avatar de {{ data.user.fullName }}" class=" avatar float-left mr-3">
            <p class="card-text">{{ data.user.introduction }}</p>
            <a href="{{ path('user_show', {'slug': data.user.slug }) }}" class="btn btn-outline-secondary float-right">Plus d'informations</a>
        </div>
    </div>
</div>