{% extends 'base.html.twig' %}

{% block title %}Page de {{ user.fullName }}!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-3 text-center">
                <img class="avatar mb-3" src="{{ user.picture }}" alt="Avatar de {{ user.fullName }}">
                <br>
                <span class="badge badge-secondary">{{ user.recipes | length }} recettes</span>
            </div>
            <div class=" col-6 card card-body border-info">
                <div>
                    <h1 class="my-5">{{ user.fullName }}</h1>

                    {% if user == app.user %}
                        <div class="mt-3">
                            <a href="{{ path('account_profile') }}" class="btn btn-info mr-2 mb-2">
                                Modifier mes informations
                            </a>
                            <a href="{{ path('account_password') }}" class="btn btn-primary mr-2 mb-2">
                                Modifier mon mot de passe
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="my-3">
            <h2 class="my-3">À propos de moi</h2>

            <blockquote>
                <p>
                    {{ user.description | raw }}
                </p>
            </blockquote>
        </div>

        <hr style="width: 50px;">
        <div>
            <h2 class="my-5">Toutes mes recettes</h2>

            {% if user.recipes | length > 0 %}
                <div class="row">
                    {% for recipe in user.recipes %}
                        {% include 'recipe/_recipe.html.twig' %}
                    {% endfor %}
                </div>

            {% else %}
                <div class="alert alert-warning">
                    <p>
                        <strong>{{ user.fullName }}</strong> n'a pas encore de recette sur le site.
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
